<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>thymeleaf </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<style>
  .btn-myButton {
    width: 200px;
    background-color: #00FFFF;
    border: none;
    color: #000;
    padding: 10px 25px;
    margin-bottom: 10px;

  }
  .btn-myButton:hover {
    background-color: #000;
    color: #FFF;
    transition: all .35s;
    cursor: pointer;
  }
</style>
<body>


<div class = "container">
  <h3>Member List Page</h3>

  <!--
  <button class="btn btn-primary mb-2 rounded-1">Member Join</button>
  -->
  <div class="text-right">
    <button class="btn-myButton" onclick="location.href='/member/memberWriteFormNew'">Member Join</button>
  </div>
  <table class="table table-striped text-center table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Num</th>
      <th>Name</th>
      <th>ID</th>
      <th>Phone</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${memberList}">
      <td th:text="${row.num}"></td>
      <td th:text="${row.name}"></td>
      <td th:text="${row.id}"></td>
      <td th:text="${row.phone}"></td>
      <td><a href="#" th:href="@{/member/memberWriteFormNew( num=${row.num} )}">수정</a></td>
      <td><a href="#" th:onclick="btnDel( [[${row.num}]] );">삭제</a></td>
    </tr>
    <tr>
      <td class="bg-primary">#</td>
      <td class="bg-info" colspan=3>#</td>
      <td class="bg-success" colspan=2>#</td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button type="button" class="btn btn-primary rounded-0" id="btn-myButton">MEMBER JOIN</button>
  </div>

  <div class="mb-5">
    &nbsp;
  </div>


</div>

</div>

<script>

  // 버튼 가져오기
  const btnMyButton = document.querySelector( '#btn-myButton' );
  console.log(btnMyButton);

  btnMyButton.addEventListener('click', () => {
    location.href = '/member/memberWriteFormNew';
  });


  // 삭제 클릭시 --> 컨펌 --> 삭제 처리

  function btnDel( num ) {
    // 컨펌
    if (confirm(num + "번 항목을 삭제하시겠습니까?") == true) {
      location.href='/memberDeleteOk?num=' + num;
    }
    else {
      return;
    }
    // 비교
  }

</script>
</body>
</html>